* {
    box-sizing: border-box !important;
}

:root {
    --main-font-color: black;
    --sub-font-color: #575757;
    --hover-background: #f5f5f5;
    --focus-background: #ebebeb;
    --border-color: #c2c2c2;
    --normal-border: 1px solid var(--border-color);

    --editor-max-width: 40rem;
    --editor-width: 80vw;
    --todos-width: 80vw;
}

body {
    margin: 0;
    margin-bottom: 8rem;
}

textarea {
    resize: none;
}

button {
    background: white;
    border: none;
    border-radius: 3px;
    padding: .5rem .8rem;
    font-weight: bolder;
    color: var(--sub-font-color);
    outline: none;
}
button:hover {
    background: var(--hover-background);
}
button:focus {
    background: var(--hover-background);
}
button:active {
    background: var(--focus-background);
}

.editor-wrap {
    display: flex;
    justify-content: center;
    position: fixed;

    width: 100vw;
    bottom: 1rem;
    left: 0;
}
#todo-editor {
    --padding: 1rem;
    --inner-mergin: .5rem;

    display: inline-block;
    width: calc(var(--editor-width) + var(--padding) * 2);
    max-width: var(--editor-max-width);
    padding: var(--padding);
    border-radius: 5px;
    border: var(--normal-border);
    background: white;

    transition: box-shadow 200ms ease-out;
}
#todo-editor > * {
    width: 100%;
}
#todo-editor > *:not(:last-child) {
    margin-bottom: var(--inner-mergin);
}
#todo-editor > textarea,
#todo-editor > input {
    border: 0;
    outline: none;
}
#todo-editor .todo-title {
    font-size: 1.2rem;
    padding: 2px;
    line-height: 1.2rem;
}
#todo-editor .todo-detail {
    font-size: 1rem;
}
#todo-editor .todo-save_wrap {
    display: flex;
    flex-direction: row-reverse;
}
#todo-editor .todo-requires {
    padding: .5rem;
    border: var(--normal-border);
    border-radius: 3px;
}
#todo-editor .todo-requires:disabled {
    background: var(--hover-background);
}

#todo-editor:not(.open) > .todo-title {
    margin-bottom: 0;
}
#todo-editor:not(.open) > *:not(.todo-title) {
    display: none;
}

.todos {
    width: var(--todos-width);
    margin-right: auto;
    margin-left: auto;
}
.todos ul {
    width: 20rem;
    margin: 1rem;
    padding: 1rem 2rem;

    border-radius: 5px;
    border: var(--normal-border);
    list-style: none;
}
.todos:not(.show-done) ul[thread-done] {
    display: none;
}
.todos li {
    padding: 0 1rem;
    display: inline-block;
    width: 100%;
}
.todos li[todo-done] .title,
.todos li[todo-done] .detail {
    text-decoration: line-through solid var(--main-font-color);
    color: var(--sub-font-color);
}
.todos li:not(:last-child) {
    border-bottom: var(--normal-border);
}
.todos h2 {
    font-weight: normal;
    font-size: 1.2rem;
}
.todos .buttons {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row-reverse;
}

#filter-wrap {
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
#toggle-show-done {
    border: var(--normal-border);
    margin-left: 1rem;
}
#filter {
    font-size: 1.2rem;
    padding: .5rem;
    line-height: 1.2rem;
    border: var(--normal-border);
    width: calc(var(--editor-width) * 0.7);
    max-width: var(--editor-max-width);
    outline: none;
    border-radius: 3px;
}
