/* global */

body {
    margin: 0;
    min-width: 300px;
    font-weight: 300;
    font-family: "Noto Sans JP", arial, sans-serif;

    word-wrap: break-word;
}
header {
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
    height: 48px;
    margin-bottom: 24px;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
#header-inner {
    width: calc(100% - 30px);
    height: 48px;
    max-width: 770px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
#header-inner #header-title {
    display: inline-block;
    height: 48px;
    vertical-align: top;
}
#header-inner #header-title > a {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;

    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 24px;
}
#header-inner #header-links {
    display: inline-block;
    height: 48px;
    vertical-align: top;
}
#header-inner #header-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    padding: 4px 4px;
}
#header-inner #header-links img {
    height: 32px;
    width: 32px;
    margin: 4px;
}

#search {
    max-width: 800px;
    margin: 36px auto;
}
#search input {
    font-family: "Noto Sans JP", arial, sans-serif;
    font-weight: 300;
    outline: none;
    vertical-align: top;
    transition: all 200ms ease-out;
}
#search-box {
    height: 2rem;
    padding: 6px 16px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px 0 0 10px;
    background: rgb(230, 230, 230);
    width: calc(100% - (12px + 32px + 2px + 30px) - 60px);
    margin-left: 15px;
}
#search-box:focus {
    background: white;
    border-color: #202124;
}
#search-button {
    width: 60px;
    cursor: pointer;
    height: calc(2rem + 12px + 2px);
    background: #202124;
    padding: 0;
    border: none;
    color: white;
    border-radius: 0 10px 10px 0;
    margin-right: 15px;
}
#search-button:hover {
    background: #666666;
}
footer {
    text-align: center;
    padding-bottom: 8px;
}
footer #footer-links {
    padding: 0;
    margin-bottom: 6px;
}
footer #footer-links li {
    display: inline;
    margin: 0 1rem;
}
footer #footer-links a {
    text-decoration: none;
    color: rgb(60, 60, 60);
    font-size: 12px;
}
#copyright {
    color: rgb(60, 60, 60);
    font-size: 12px;
}
#copyright > a {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

/* index */

.index #main {
    max-width: 770px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.index #posts-list {
    padding-left: 0;
    list-style: none;
}
.index #posts-list li {
    margin-bottom: 30px;
}
.index #posts-list h2 {
    margin-bottom: 10px;
}
.index #posts-list h2 a {
    text-decoration: none;
    color: black;
}
.index .posttime {
    margin-right: 10px;
}
.index a.label, .index a.snippet {
    text-decoration: none;
    color: black;
}
.index a.label {
    margin-right: 0.5em;
}
.index a.readmore {
    text-decoration: none;
    color: rgb(0, 0, 238);
}
.index #nav-icon-wrap {
    display: flex;
    justify-content: center;
}
.index .nav-icon {
    margin: 0 1rem;
    height: 2rem;
    width: 2rem;
}
.index .nav-icon a {
    height: 2rem;
    width: 2rem;
}

/* post */

.post article {
    max-width: 770px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 36px;
}
.post #metadata {
    margin-bottom: 24px;
}
.post #article-title {
    margin-top: 0;
    margin-bottom: 8px;
    text-decoration: none;
    color: black;
}
.post #article-title > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
.post #article-posttime {
    margin-right: 10px;
}
.post a.label {
    margin-right: 0.5em;
    text-decoration: none;
    color: black;
}
.post #share {
    max-width: 770px;
    margin: 0 auto 36px auto;
    padding: 0 15px;
}
.post #share a {
    display: none;
    height: 1.7rem;
    width: 1.7rem;
}
.post #share a.buttons {
    margin-right: 1rem;
    cursor: pointer;
}
.post #share #share-icon {
    margin-right: 2rem;
    height: 1.7rem;
    width: 1.7rem;
}
.post #share .buttons img {
    height: 1.7rem;
    width: 1.7rem;
}
.post #share p {
    display: inline;
}
.post #content h2 {
    margin-top: 2em;
}
.post #content p {
    text-indent: .5rem
}
.post #content ul, #content ol {
    padding-left: 30px;
}
.post #content img {
    width: 100%;
    border-radius: 10px;
}
.post #content a, #content #content a:visited, #content a:link {
    text-decoration: none;
    color: rgb(0, 0, 238);
}
.post #content blockquote {
    font-style: italic;
    margin-right: 25px;
    margin-left: 25px;
}
.post #content code {
    background: rgb(230, 230, 230);
    padding: 2px 8px 2px 8px;
    border-radius: 3px;
    font-size: 1em;
    font-weight: 400;
    font-family: "Source Code Pro", monospace;
}
.post #content pre {
    background: rgb(230, 230, 230);
    padding: 8px;
    white-space: pre;
    overflow-x: scroll;
    border-radius: 10px;
}
.post #content pre > code {
    padding: 0;
    border-radius: 0;
    font-size: 1em;
}
