/*
 * Copyright 2018 comame
 */
 
noscript {
    padding             : 0.5rem 1rem;
    width               : 100%;
    color               : white;
    background          : rgba(214, 11, 11, 0.548);

    display             : block;
    position            : fixed;
    top                 : 0;
    left                : 0;

    transform           : translateY(-100%);
    animation           : noscript 0.1s ease-out 0.5s 1 forwards,
                          noscript 0.1s ease-in 5s 1 reverse;
    animation-fill-mode : forwards;
}

@keyframes noscript {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
