/* global */

body {
    margin: 0;
    min-width: 300px;
    font-weight: 300;
}

/* post */

article {
    max-width: 770px;
    margin: 20px auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 36px;
}
a.label {
    margin-right: 0.5em;
    text-decoration: none;
    color: black;
}
#content h2 {
    margin-top: 2em;
}
#content ul, #content ol {
    padding-left: 30px;
}
#content img {
    width: 100%;
    border-radius: 10px;
}
#content a, #content #content a:visited, #content a:link {
    text-decoration: none;
    color: rgb(0, 0, 238);
}
#content blockquote {
    font-style: italic;
    margin-right: 25px;
    margin-left: 25px;
}
#content code {
    background: rgb(230, 230, 230);
    padding: 2px 8px 2px 8px;
    border-radius: 3px;
    font-size: 1em;
    font-weight: 400;
    font-family: "Source Code Pro", monospace;
}
#content pre {
    background: rgb(230, 230, 230);
    padding: 8px;
    white-space: pre;
    overflow-x: scroll;
    border-radius: 10px;
}
#content pre > code {
    padding: 0;
    border-radius: 0;
    font-size: 1em;
}
#article-title a {
    margin-top: 0;
    margin-bottom: 8px;
    text-decoration: none;
    color: black;
}

html {
    scroll-behavior: smooth;
}
